PORT=5001
PGHOST=ep-autumn-feather-aomxhzyo-pooler.c-2.ap-southeast-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_W5tlKCmpe8Dd
JWT_SECRET=your_jwt_secret_here

# ── CORS — Frontend URL ────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173

# ── GitHub OAuth ────────────────────────────────────────────────────────────
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=https://be-nesaverse.vercel.app/api/auth/github/callback

# ── GitHub OAuth DEV (untuk localhost) ─────────────────────────────────────
GITHUB_CLIENT_ID_DEV=
GITHUB_CLIENT_SECRET_DEV=

# ── Cloudflare R2 (file upload) ────────────────────────────────────────────
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET=nesaverse-assets
R2_PUBLIC_BASE_URL=https://cdn.nesaverse.my.id
