PORT=5001
PGHOST=ep-autumn-feather-aomxhzyo-pooler.c-2.ap-southeast-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_W5tlKCmpe8Dd
JWT_SECRET=your_jwt_secret_here

# ── CORS — Frontend URL ────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173
